@font-face {
    font-family: "name";
    src: url(fonts/font_Medium.eot) format("eot"), url(fonts/font_Medium.ttf) format("truetype"), url(fonts/font_Medium.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "name";
    direction: rtl;
    background-color: #dcdcdca3;
}

.body {
    background-color: #f1f1f1 !important;
}

li {
    list-style: none;
}

a {
    color: #1a1f59;
}

a,
a:hover {
    transition: all 0.2s ease;
    text-decoration: none !important;
}


/* ====================== Header Top========== */

header {
    background: white;
}

header .icons {
    display: flex;
}

header .container {
    display: flex;
    height: 65px
}

header .icons a {
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    height: 65px
}

header .icons a {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    width: 30px;
    align-items: center;
}

header .icons a.active {
    background: #dcdcdca3;
}

header .icons a img {
    width: 25px;
    border-radius: 50%;
    height: 25px;
}

header .icons .icon i {
    font-size: 20px;
}

header .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .search input {
    background: #fafafa;
    border: 1px solid #ccc;
    width: 270px;
    padding: 5px 15px;
    direction: ltr;
    text-align: left;
}

header .search .text-search {
    color: darkgrey;
    user-select: none;
    font-size: 12px;
    position: absolute;
}

header .search .text-search i {
    padding: unset !important;
}

header .ImageLogo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .ImageLogo img {
    width: 99px;
    float: left;
}


/* =========================================== Main */

main {
    display: flex;
    margin-top: 37px;
}

main .main-right .direct-list {
    background: white;
    display: inline-block;
    direction: ltr;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

main .main-right .direct-list .direct-main img {
    width: 45px;
    border-radius: 56px;
    height: 44px;
}

main .main-right .direct-list .direct-header {
    display: flex;
}

main .main-right .direct-list .direct-main {
    display: flex;
    justify-content: space-around;
}

main .main-right .direct-list .direct-main a {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main .main-right .direct-list .direct-main a:hover {
    background-color: #e0e0e0;
    border-radius: 7px;
}

main .main-right .direct-list .direct-main div p {
    width: 249px;
    height: 27px;
    text-align: end;
}

main .main-right .direct-list .direct-main a:hover p {
    color: white;
}

main .main-right .direct-list .direct-main h6 {
    width: 18px;
    height: 19px;
    border-radius: 38px;
    font-size: 13px;
}

main .main-right .direct-list .direct-main a:hover h6 {
    color: white;
}

main .main-right .direct-list .direct-header h2 {
    margin: 0 auto;
}

main .main {
    margin: 0 auto;
}

main .main .main-list {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}

main .main .main-list .main-list-header {
    display: flex;
    direction: ltr;
}

main .main .main-list .main-list-header #imgPro {
    width: 47px;
    height: 43px;
    border-radius: 48px;
}

main .main .main-list .main-list-header p {
    width: 527px;
    text-align: end;
    margin-left: 12px;
    margin-top: 14px;
}

main .main .main-list .main-list-main {
    position: relative;
}

main .main .main-list .main-list-main img {
    width: 100%;
    height: 333px;
    margin-top: 9px;
}

main .main .main-list .main-list-main .iconLike {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 44px;
}

main .main .main-list .main-list-footer {
    margin-top: 10px;
    text-align: left;
    user-select: none;
}

main .main .main-list .main-list-footer #icon-left {
    font-size: 18px;
}

main .main .main-list .main-list-footer #icon-lefts {
    font-size: 18px;
}

main .main .main-list .main-list-footer #icon-left:hover {
    cursor: pointer;
}

main .main .main-list .main-list-footer #massegeComment {
    width: 100%;
    background: #fafafa;
    border: 1px solid #ccc;
    text-align: left;
    padding: 3px;
    direction: ltr;
    height: inherit;
}

main .main .main-list .main-list-footer .Text-comment {
    position: absolute;
    background: #828282;
    color: white;
    top: 0;
    right: 0;
    width: 35px;
    cursor: pointer;
    text-align: center;
    height: inherit !important;
    user-select: none;
    font-size: 12px;
}

main .main .main-list .main-list-footer .Text-comment i {
    margin-top: 9px;
}

.comment-input {
    height: 30px;
    position: relative;
}

main .main-left {
    background-color: white;
    display: -webkit-box;
    border-radius: 6px;
}

main .main-left .Stories-list {
    display: inline-block;
    text-align: center;
}

main .main-left .Stories-list img {
    width: 79px;
    border-radius: 75px;
    border: 3px solid brown;
    margin-top: 10px;
}

main .main-left .Stories-list a {
    display: block;
}

main .main-left .Stories-list a:hover img {
    border: 3px solid green;
}

main .main-left .Stories-list p {
    color: darkslateblue;
    cursor: pointer;
}


/* ================ Modals */

main .Modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

main .Modal .content-modals {
    margin: 2% auto;
    width: 50%;
    height: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
}

main .Modal .content-modals .modal-header {
    justify-content: space-between;
}

main .Modal .content-modals .modal-header img {
    width: 42px;
    border-radius: 41px;
    height: 42px;
}

main .Modal .content-modals .modal-header p {
    width: 100%;
    height: 100%;
    text-align: end;
    margin-top: 10px;
    margin-left: 10px;
}

main .Modal .content-modals .modal-header h2 {
    background: darkgray;
    padding: 3px;
    border-radius: 8px;
}

main .Modal .content-modals .modal-main img {
    width: 100%;
    height: 445px;
}

main .Modal .content-modals .modal-footer {
    position: relative;
    display: block;
    direction: ltr;
}

main .Modal .content-modals .modal-footer #commentstoris {
    width: 93%;
    height: 24px;
    position: relative;
    background: #fafafa;
    border: 1px solid #ccc;
    text-align: initial;
}

main .Modal .content-modals .modal-footer .text-input {
    position: absolute;
    top: 21px;
    width: 123px;
    cursor: text;
    text-align: center;
    height: auto;
    user-select: none;
    font-size: 12px;
}