 @font-face {
     font-family: "name";
     src: url(fonts/font_Medium.eot) format("eot"), url(fonts/font_Medium.ttf) format("truetype"), url(fonts/font_Medium.woff) format("woff");
 }
 
 * {
     padding: 0;
     margin: 0;
 }
 
 body {
     font-family: "name";
     direction: rtl;
     background-color: cadetblue;
 }
 
 .body {
     background-color: #f1f1f1 !important;
 }
 
 li {
     list-style: none;
 }
 
 a {
     color: #1a1f59;
 }
 
 a,
 a:hover {
     transition: all 0.2s ease;
     text-decoration: none !important;
 }
 /* ====================== Header icon ========== */
 
 header {
     background: white;
 }
 
 header .icons {
     display: flex;
 }
 
 header .icons img {
     width: 60px;
     border-radius: 70px;
     height: 47px;
     margin-top: 6px;
 }
 
 header .icons .icon {
     display: flex;
 }
 
 header .icons i {
     padding: 10px;
 }
 
 header .icons .icon .s {
     margin-top: 10px;
 }
 
 header .serch input {
     margin-top: 17px;
     margin-right: 58px;
     padding-top: 7px;
     padding-left: 151px;
     background: #fafafa;
     border: 1px solid;
 }
 
 header .serch .text-serch {
     margin-top: -27px;
     margin-left: -35px;
 }
 
 header .ImageLogo img {
     width: 99px;
     float: left;
 }