@font-face {
    font-family: "name";
    src: url(fonts/font_Medium.eot) format("eot"), url(fonts/font_Medium.ttf) format("truetype"), url(fonts/font_Medium.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "name";
    direction: rtl;
}

li {
    list-style: none;
}

a {
    color: #1a1f59;
}

a,
a:hover {
    transition: all 0.2s ease;
    text-decoration: none !important;
}


/* Logiin */

main .content-Login {
    text-align: center;
    margin: 2% auto;
    width: 21%;
    height: 41%;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
}

main .content-Login .form {
    padding: 10px;
    display: grid;
}

.main .content-Login .form #Chpassword {
    display: flex;
    font-size: 13px;
    margin-top: 14px;
}